<ul>
  <li><%= link_to "Add a restaurant",  new_restaurant_path%></li>
</ul>

<ul>
  <br>
  <% @restaurants.each do |resto|%>
    <li>
      <%= link_to resto.name, restaurant_path(resto) %>
    </li>
  <% end %>
</ul>
